{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/adminData.css' %}">

    {% block title %}{% endblock %}
</head>
{% block content %}
        <h2>Register</h2>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
            <input type="submit" value="Register">
        </form>
        <a href="{% url 'index' %}">Back to login</a>
        <a href="{% url 'adminData' %}">Back to Home</a>
{% endblock %}
</html>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{% static 'js/adminData.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>